/* .peraturan{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(253, 255, 255);
    box-shadow: 2cap;
    border-color: black;
    border-style: double;
    background-color: #FF3C38;
}
.tab-bar{
    position: relative
    /* weight: 700px; */
} */

/* awal navbar */
.logo{
    background-color: #FF3C38;
}
